@model blog_akademiazdrowia.Articles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LayoutType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayoutType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgMiniPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgMiniPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
